@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.dark-background{
  background-color: black;
}
.bulb-image {
  width: 300px;
  height: 400px;
  margin-top: 15PX;
  border-radius: 12px;
  margin: 16px;
 
}
.switch-board {
  background-color: #7b8794;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 16px;
}
.switch-status {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}
.on-switch {
  color: #ffffff;
  background-color: #53ae40;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  width: 99px;
  height: 44px;
  border-radius: 8px;
  margin-left: 16px;
  cursor: pointer;
  margin-bottom: 3%;
}
.off-switch {
  color: #ffffff;
  background-color: #ded13b;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  width: 99px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 3%;
}
.inp{
  color: rgb(119, 207, 215);
  font-size: xx-large;
  padding-right: 10px;
  font-family: "Trirong", serif;
  text-shadow: 1px 1px 2px pink;
}
.in{
  font-size: medium;
}
.ha{
  color: rgb(222, 222, 247);
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 18px
}
.move{
  color: black;
  font-size: xx-large;
  font-style: oblique;
  text-shadow: 1px 1px 2px rgb(146, 232, 146);
  
}
img.emoji {
    display: inline!important;
    border: none!important;
    box-shadow: 0 0!important;
    height: 1em!important;
    width: 1em!important;
    margin: 0 0.07em!important;
    vertical-align: -0.1em!important;
    background: 0 0!important;
    padding: 0!important;
}
.switch-statu{
  text-align: center;
  color:white;
}
